# Receita Bruta

In [4]:
# 1) Importar as bibliotecas
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.max_rows', 20)

# 2) Importar CSV
receitas = pd.read_csv('../data/Contas A Receber detalhado por Data de Vencimento.csv', sep=";")


def convert_currency(value):
    value = value.replace('R$', '').replace('.', '').replace(',', '.').strip()
    return float(value)
receitas["Vencimento"] = pd.to_datetime(receitas['Vencimento'], format='%d/%m/%Y' )
receitas["Valor"] = receitas["Valor"].apply(convert_currency)

receitas.head()

,Sequência,Vencimento,Título/Categoria,Sócio,CPF/CNPJ,Descrição,Valor,Natureza de Operação,Centro de Custo,Data do Recebimento,Status do Débito
0,1,2024-07-15,4588-9,ABRAO MIGUEL NETO,289.904.318-83,MENSALIDADE FAMILIAR,325.0,MENSALIDADES,CLUBE,18/07/2024,Pago
1,2,2024-07-30,4034-9,ADAILTON ALVES GUERRA,084.141.298-70,MENSALIDADE FAMILIAR,325.0,MENSALIDADES,CLUBE,-,Em Aberto
2,3,2024-07-10,4619-9,ADEMIR MOREIRA MATHIAS,043.533.558-80,MENSALIDADE FAMILIAR,325.0,MENSALIDADES,CLUBE,10/07/2024,Pago
3,4,2024-07-25,274-1,ADRIANO FONSECA YAMADA,260.521.168-11,MENSALIDADE PATRIMONIAL,350.0,MENSALIDADES,CLUBE,25/07/2024,Pago
4,5,2024-07-30,7-1,ADRIANO OKANO,081.623.068-46,MENSALIDADE PATRIMONIAL,350.0,MENSALIDADES,CLUBE,22/07/2024,Pago

In [12]:
receitasPorTipo = receitas.groupby("Descrição").agg({"Valor": sum}).sort_values(by = "Valor", ascending=False)
receitasPorTipo["percent"] = receitasPorTipo["Valor"] / receitasPorTipo["Valor"].sum()
receitasPorTipo["cum"] = (receitasPorTipo["percent"].cumsum())


receitasPorTipo

/tmp/ipykernel_2005/2622274784.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  receitasPorTipo = receitas.groupby("Descrição").agg({"Valor": sum}).sort_values(by = "Valor", ascending=False)

                                                  Valor   percent       cum
Descrição
MENSALIDADE FAMILIAR                           59637.50  0.415237  0.415237
MENSALIDADE PATRIMONIAL                        33600.00  0.233946  0.649184
MENSALIDADE FAMILIAR 3                         18720.00  0.130342  0.779525
MENSALIDADE FAMILIAR E2                        10481.25  0.072978  0.852503
MENSALIDADE INDIVIDUAL                          5750.00  0.040035  0.892539
...                                                 ...       ...       ...
PATROCINIO CADEIRA DA PORTARIA                   300.00  0.002089  0.996735
QUIOSQUE PARA 28/07                              206.00  0.001434  0.998170
MENSALIDADE DEPENDENTE PAGANTE                    97.50  0.000679  0.998849
QUIOSQUE PARA 28/07 - DIFERENÇA                   94.00  0.000654  0.999503
AGUA, INTERNET E ENERGIA DO ESCRITÓRIO JUN/24     71.38  0.000497  1.000000

[22 rows x 3 columns]

In [20]:
receitasPorStatus = receitas.groupby(by="Status do Débito").agg({"Valor":sum})
receitasPorStatus["percent"] = (receitasPorStatus["Valor"]/receitasPorStatus["Valor"].sum())

receitasPorStatus

/tmp/ipykernel_2005/2977708009.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  receitasPorStatus = receitas.groupby(by="Status do Débito").agg({"Valor":sum})

                       Valor   percent
Status do Débito
Em Aberto           18515.00  0.128914
Pago               124782.63  0.868823
Pago Parcialmente     325.00  0.002263

In [11]:
receitasTotais =  receitas[receitas["Status do Débito"] == "Pago"]["Valor"].sum()
print(receitasTotais)

124782.63

# DESPESAS

In [15]:
despesas = pd.read_csv("../data/Contas A Pagar por Data de Vencimento.csv", sep = ";")

despesas["Vencimento"] = pd.to_datetime(despesas['Vencimento'], format='%d/%m/%Y')
despesas["Valor"] = despesas["Valor"].apply(convert_currency)



despesas.head()

,Sequência,Vencimento,Fornecedor,CPF/CNPJ,Descrição,Nota Fiscal,Parcela,Empresa,Valor,Natureza de Operação,Centro de Custo
0,1,2024-07-13,A DE PAULA MATERIAIS ELETRICOS LTDA,08.344.261/0001-30,MATERIAIS ELETRICOS - NOTAS DE JUNHO,Sem Informação,1 de 3,Sem Informação,1117.24,MATERIAIS ELETRICOS,CLUBE
1,2,2024-07-18,A DE PAULA MATERIAIS ELETRICOS LTDA,08.344.261/0001-30,FIAÇÁO CLUBE,Sem Informação,1 de 1,Sem Informação,2302.14,MATERIAIS ELETRICOS,CLUBE
2,3,2024-07-18,A DE PAULA MATERIAIS ELETRICOS LTDA,08.344.261/0001-30,MATERIAIS ELETRICOS - NOTAS DE MAIO E JUNHO,Sem Informação,1 de 6,Sem Informação,2002.05,MATERIAIS ELETRICOS,CLUBE
3,4,2024-07-25,A DE PAULA MATERIAIS ELETRICOS LTDA,08.344.261/0001-30,MATERIAIS ELTRICOS,Sem Informação,4 de 9,Sem Informação,5066.77,DESPESA COM MANUTENÇÃO,CLUBE
4,5,2024-07-15,ADILSON GONÇALVES COSTA,122.205.978-90,1 LIMPEZA DE SALÃO,Sem Informação,1 de 1,Sem Informação,100.00,OUTRAS DESPESAS COM FUNCIONÁRIOS,CLUBE

In [22]:
despesasPorTipo = despesas.groupby(by="Natureza de Operação").agg({"Valor":sum}).sort_values(by="Valor", ascending=False)
despesasPorTipo["percent"] = despesasPorTipo["Valor"]/despesasPorTipo["Valor"].sum()
despesasPorTipo["cum"] = despesasPorTipo["percent"].cumsum()



despesasPorTipo

/tmp/ipykernel_2005/3108245440.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  despesasPorTipo = despesas.groupby(by="Natureza de Operação").agg({"Valor":sum}).sort_values(by="Valor", ascending=False)

                                Valor   percent       cum
Natureza de Operação
PAGAMENTO DE SALÁRIO         27735.97  0.152545  0.152545
PORTARIA TERCERIZADA         17000.00  0.093498  0.246043
MATERIAIS ELETRICOS          16080.41  0.088441  0.334484
INSS                         14454.79  0.079500  0.413984
DESPESA COM MANUTENÇÃO       13104.01  0.072071  0.486054
...                               ...       ...       ...
CARTÓRIO                       156.96  0.000863  0.998581
MATERIAIS DE ESCRITÓRIO        148.82  0.000818  0.999399
OUTRAS DESPESAS                 80.00  0.000440  0.999839
ENTREGA DE CORRESPONDENCIAS     18.05  0.000099  0.999938
IOF                             11.19  0.000062  1.000000

[44 rows x 3 columns]

In [17]:
despesasTotais = -1*despesas["Valor"].sum()
print(despesasTotais)

-181821.59

# EBTIDA

In [23]:
df1 = pd.DataFrame([receitasTotais, despesasTotais, receitasTotais+despesasTotais], index=["RECEITAS", "CUSTOS E DESPESAS", "EBTIDA"], columns=["DRE"])
df1
df1.to_csv('out.csv', sep=";")